<h1>la liste des etudiants</h1>
<table border="1">
    <tr>
        <td>ID</td>
        <td>Username</td>
        <td>Email</td>
        <td>Moyenne</td>
        <td>Classroom</td>
        <td>Action</td>
    </tr>
    {% for student in tabStudent %}
    <tr>
        <td>{{ student.id }}</td>
        <td>{{  student.username|upper}}</td>
        <td>{{student.email  }}</td>
        <td>{{ student.moyenne }}</td>
        <td>{{ student.classroom }}</td>
        <td><a href="{{ path('studentsDelete',{'id':student.id})}}">Delete </a>
            <a href="{{ path('updatestudents',{'id':student.id})}}">Update </a></td>
    </tr>

    {% endfor %}
</table>
{{ tabStudent|length }}